In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.2.4

In [3]:
import random

names = ["Albert","John","Richard","Henry","William"]
surnames = ["Goodman","Black","White","Green","Joneson"]
salaries = [500*random.randint(10,30) for _ in range(10)]

def generate_random_person(names, surnames, salaries):
    return {"name":random.sample(names,1)[0],
            "surname":random.sample(surnames,1)[0],
            "salary":random.sample(salaries,1)[0]}

def generate_people(k):
    return [generate_random_person(names, surnames, salaries) for _ in range(k)]

In [4]:
df = pd.DataFrame(generate_people(5),
                  columns=["name","surname","salary"])

df

      name  surname  salary
0    Henry    Green    9000
1    Henry  Goodman    9000
2     John    White   14500
3  Richard  Joneson    7500
4     John    Green    8000