# Hello Pandas

In [1]:
import pandas as pd

print(pd.__version__)

1.2.4

In [2]:
from faker import Faker
import json

faker = Faker()
profiles = []
for i in range(10):
    profiles.append(faker.simple_profile()) 

df = pd.read_json(json.dumps(profiles, default=str))

In [3]:
df

,username,name,sex,address,mail,birthdate
0,mooretracy,Summer Dean,F,"80566 Hanna Crossroad\nNorth Maria, NV 68069",jeffrey88@gmail.com,1986-04-13
1,webbsarah,Miranda Taylor,F,"550 Valenzuela Freeway\nCollinschester, MA 81763",garzamichael@gmail.com,1977-01-24
2,kcaldwell,Lauren Ramos,F,"57051 Acosta Circle\nSouth Josephton, SC 70928",kevinsimpson@gmail.com,1930-02-17
3,dwhite,Amber Carroll,F,"233 Phillips Road Suite 627\nRoweland, KY 86397",mcleankristen@hotmail.com,1975-11-09
4,wmiller,Brooke Osborn,F,"3593 Bradshaw Stravenue Suite 847\nGreenebury,...",arthurduarte@hotmail.com,1999-01-10
5,lucassamantha,Deanna Jones,F,USNS Dawson\nFPO AP 54120,calebnelson@yahoo.com,1959-03-04
6,pamelahensley,Brittany Potts,F,"825 Daniel Crest\nRussellburgh, DC 55860",lawsonbenjamin@hotmail.com,1981-08-16
7,rrodriguez,Megan Robinson,F,"793 Wright Union Suite 943\nPaulton, NC 89407",watkinsbonnie@hotmail.com,1941-09-02
8,sharon97,Nancy Tran,F,"PSC 5891, Box 6596\nAPO AE 75003",donnathomas@hotmail.com,1925-08-23
9,brittany81,Margaret Miller,F,USNV Henderson\nFPO AP 12436,asawyer@hotmail.com,1965-10-03